.pbemoji-sprite{background-size:26800%;}
.pbemoji-smil{background-image: url('img/smil.png');}
.pbemoji-peop{background-image: url('img/peop.png');}
.pbemoji-peop-1f3fb{background-image: url('img/peop-1f3fb.png');}
.pbemoji-peop-1f3fc{background-image: url('img/peop-1f3fc.png');}
.pbemoji-peop-1f3fd{background-image: url('img/peop-1f3fd.png');}
.pbemoji-peop-1f3fe{background-image: url('img/peop-1f3fe.png');}
.pbemoji-peop-1f3ff{background-image: url('img/peop-1f3ff.png');}
.pbemoji-anim{background-image: url('img/anim.png');}
.pbemoji-food{background-image: url('img/food.png');}
.pbemoji-trav{background-image: url('img/trav.png');}
.pbemoji-acti{background-image: url('img/acti.png');}
.pbemoji-obje{background-image: url('img/obje.png');}
.pbemoji-symb{background-image: url('img/symb.png');}
.pbemoji-flag{background-image: url('img/flag.png');}
.pbemoji-0{background-position: 0.0000% 0;}
.pbemoji-1{background-position: 0.3745% 0;}
.pbemoji-2{background-position: 0.7491% 0;}
.pbemoji-3{background-position: 1.1236% 0;}
.pbemoji-4{background-position: 1.4981% 0;}
.pbemoji-5{background-position: 1.8727% 0;}
.pbemoji-6{background-position: 2.2472% 0;}
.pbemoji-7{background-position: 2.6217% 0;}
.pbemoji-8{background-position: 2.9963% 0;}
.pbemoji-9{background-position: 3.3708% 0;}
.pbemoji-10{background-position: 3.7453% 0;}
.pbemoji-11{background-position: 4.1199% 0;}
.pbemoji-12{background-position: 4.4944% 0;}
.pbemoji-13{background-position: 4.8689% 0;}
.pbemoji-14{background-position: 5.2434% 0;}
.pbemoji-15{background-position: 5.6180% 0;}
.pbemoji-16{background-position: 5.9925% 0;}
.pbemoji-17{background-position: 6.3670% 0;}
.pbemoji-18{background-position: 6.7416% 0;}
.pbemoji-19{background-position: 7.1161% 0;}
.pbemoji-20{background-position: 7.4906% 0;}
.pbemoji-21{background-position: 7.8652% 0;}
.pbemoji-22{background-position: 8.2397% 0;}
.pbemoji-23{background-position: 8.6142% 0;}
.pbemoji-24{background-position: 8.9888% 0;}
.pbemoji-25{background-position: 9.3633% 0;}
.pbemoji-26{background-position: 9.7378% 0;}
.pbemoji-27{background-position: 10.1124% 0;}
.pbemoji-28{background-position: 10.4869% 0;}
.pbemoji-29{background-position: 10.8614% 0;}
.pbemoji-30{background-position: 11.2360% 0;}
.pbemoji-31{background-position: 11.6105% 0;}
.pbemoji-32{background-position: 11.9850% 0;}
.pbemoji-33{background-position: 12.3596% 0;}
.pbemoji-34{background-position: 12.7341% 0;}
.pbemoji-35{background-position: 13.1086% 0;}
.pbemoji-36{background-position: 13.4831% 0;}
.pbemoji-37{background-position: 13.8577% 0;}
.pbemoji-38{background-position: 14.2322% 0;}
.pbemoji-39{background-position: 14.6067% 0;}
.pbemoji-40{background-position: 14.9813% 0;}
.pbemoji-41{background-position: 15.3558% 0;}
.pbemoji-42{background-position: 15.7303% 0;}
.pbemoji-43{background-position: 16.1049% 0;}
.pbemoji-44{background-position: 16.4794% 0;}
.pbemoji-45{background-position: 16.8539% 0;}
.pbemoji-46{background-position: 17.2285% 0;}
.pbemoji-47{background-position: 17.6030% 0;}
.pbemoji-48{background-position: 17.9775% 0;}
.pbemoji-49{background-position: 18.3521% 0;}
.pbemoji-50{background-position: 18.7266% 0;}
.pbemoji-51{background-position: 19.1011% 0;}
.pbemoji-52{background-position: 19.4757% 0;}
.pbemoji-53{background-position: 19.8502% 0;}
.pbemoji-54{background-position: 20.2247% 0;}
.pbemoji-55{background-position: 20.5993% 0;}
.pbemoji-56{background-position: 20.9738% 0;}
.pbemoji-57{background-position: 21.3483% 0;}
.pbemoji-58{background-position: 21.7228% 0;}
.pbemoji-59{background-position: 22.0974% 0;}
.pbemoji-60{background-position: 22.4719% 0;}
.pbemoji-61{background-position: 22.8464% 0;}
.pbemoji-62{background-position: 23.2210% 0;}
.pbemoji-63{background-position: 23.5955% 0;}
.pbemoji-64{background-position: 23.9700% 0;}
.pbemoji-65{background-position: 24.3446% 0;}
.pbemoji-66{background-position: 24.7191% 0;}
.pbemoji-67{background-position: 25.0936% 0;}
.pbemoji-68{background-position: 25.4682% 0;}
.pbemoji-69{background-position: 25.8427% 0;}
.pbemoji-70{background-position: 26.2172% 0;}
.pbemoji-71{background-position: 26.5918% 0;}
.pbemoji-72{background-position: 26.9663% 0;}
.pbemoji-73{background-position: 27.3408% 0;}
.pbemoji-74{background-position: 27.7154% 0;}
.pbemoji-75{background-position: 28.0899% 0;}
.pbemoji-76{background-position: 28.4644% 0;}
.pbemoji-77{background-position: 28.8390% 0;}
.pbemoji-78{background-position: 29.2135% 0;}
.pbemoji-79{background-position: 29.5880% 0;}
.pbemoji-80{background-position: 29.9625% 0;}
.pbemoji-81{background-position: 30.3371% 0;}
.pbemoji-82{background-position: 30.7116% 0;}
.pbemoji-83{background-position: 31.0861% 0;}
.pbemoji-84{background-position: 31.4607% 0;}
.pbemoji-85{background-position: 31.8352% 0;}
.pbemoji-86{background-position: 32.2097% 0;}
.pbemoji-87{background-position: 32.5843% 0;}
.pbemoji-88{background-position: 32.9588% 0;}
.pbemoji-89{background-position: 33.3333% 0;}
.pbemoji-90{background-position: 33.7079% 0;}
.pbemoji-91{background-position: 34.0824% 0;}
.pbemoji-92{background-position: 34.4569% 0;}
.pbemoji-93{background-position: 34.8315% 0;}
.pbemoji-94{background-position: 35.2060% 0;}
.pbemoji-95{background-position: 35.5805% 0;}
.pbemoji-96{background-position: 35.9551% 0;}
.pbemoji-97{background-position: 36.3296% 0;}
.pbemoji-98{background-position: 36.7041% 0;}
.pbemoji-99{background-position: 37.0787% 0;}
.pbemoji-100{background-position: 37.4532% 0;}
.pbemoji-101{background-position: 37.8277% 0;}
.pbemoji-102{background-position: 38.2022% 0;}
.pbemoji-103{background-position: 38.5768% 0;}
.pbemoji-104{background-position: 38.9513% 0;}
.pbemoji-105{background-position: 39.3258% 0;}
.pbemoji-106{background-position: 39.7004% 0;}
.pbemoji-107{background-position: 40.0749% 0;}
.pbemoji-108{background-position: 40.4494% 0;}
.pbemoji-109{background-position: 40.8240% 0;}
.pbemoji-110{background-position: 41.1985% 0;}
.pbemoji-111{background-position: 41.5730% 0;}
.pbemoji-112{background-position: 41.9476% 0;}
.pbemoji-113{background-position: 42.3221% 0;}
.pbemoji-114{background-position: 42.6966% 0;}
.pbemoji-115{background-position: 43.0712% 0;}
.pbemoji-116{background-position: 43.4457% 0;}
.pbemoji-117{background-position: 43.8202% 0;}
.pbemoji-118{background-position: 44.1948% 0;}
.pbemoji-119{background-position: 44.5693% 0;}
.pbemoji-120{background-position: 44.9438% 0;}
.pbemoji-121{background-position: 45.3184% 0;}
.pbemoji-122{background-position: 45.6929% 0;}
.pbemoji-123{background-position: 46.0674% 0;}
.pbemoji-124{background-position: 46.4419% 0;}
.pbemoji-125{background-position: 46.8165% 0;}
.pbemoji-126{background-position: 47.1910% 0;}
.pbemoji-127{background-position: 47.5655% 0;}
.pbemoji-128{background-position: 47.9401% 0;}
.pbemoji-129{background-position: 48.3146% 0;}
.pbemoji-130{background-position: 48.6891% 0;}
.pbemoji-131{background-position: 49.0637% 0;}
.pbemoji-132{background-position: 49.4382% 0;}
.pbemoji-133{background-position: 49.8127% 0;}
.pbemoji-134{background-position: 50.1873% 0;}
.pbemoji-135{background-position: 50.5618% 0;}
.pbemoji-136{background-position: 50.9363% 0;}
.pbemoji-137{background-position: 51.3109% 0;}
.pbemoji-138{background-position: 51.6854% 0;}
.pbemoji-139{background-position: 52.0599% 0;}
.pbemoji-140{background-position: 52.4345% 0;}
.pbemoji-141{background-position: 52.8090% 0;}
.pbemoji-142{background-position: 53.1835% 0;}
.pbemoji-143{background-position: 53.5581% 0;}
.pbemoji-144{background-position: 53.9326% 0;}
.pbemoji-145{background-position: 54.3071% 0;}
.pbemoji-146{background-position: 54.6816% 0;}
.pbemoji-147{background-position: 55.0562% 0;}
.pbemoji-148{background-position: 55.4307% 0;}
.pbemoji-149{background-position: 55.8052% 0;}
.pbemoji-150{background-position: 56.1798% 0;}
.pbemoji-151{background-position: 56.5543% 0;}
.pbemoji-152{background-position: 56.9288% 0;}
.pbemoji-153{background-position: 57.3034% 0;}
.pbemoji-154{background-position: 57.6779% 0;}
.pbemoji-155{background-position: 58.0524% 0;}
.pbemoji-156{background-position: 58.4270% 0;}
.pbemoji-157{background-position: 58.8015% 0;}
.pbemoji-158{background-position: 59.1760% 0;}
.pbemoji-159{background-position: 59.5506% 0;}
.pbemoji-160{background-position: 59.9251% 0;}
.pbemoji-161{background-position: 60.2996% 0;}
.pbemoji-162{background-position: 60.6742% 0;}
.pbemoji-163{background-position: 61.0487% 0;}
.pbemoji-164{background-position: 61.4232% 0;}
.pbemoji-165{background-position: 61.7978% 0;}
.pbemoji-166{background-position: 62.1723% 0;}
.pbemoji-167{background-position: 62.5468% 0;}
.pbemoji-168{background-position: 62.9213% 0;}
.pbemoji-169{background-position: 63.2959% 0;}
.pbemoji-170{background-position: 63.6704% 0;}
.pbemoji-171{background-position: 64.0449% 0;}
.pbemoji-172{background-position: 64.4195% 0;}
.pbemoji-173{background-position: 64.7940% 0;}
.pbemoji-174{background-position: 65.1685% 0;}
.pbemoji-175{background-position: 65.5431% 0;}
.pbemoji-176{background-position: 65.9176% 0;}
.pbemoji-177{background-position: 66.2921% 0;}
.pbemoji-178{background-position: 66.6667% 0;}
.pbemoji-179{background-position: 67.0412% 0;}
.pbemoji-180{background-position: 67.4157% 0;}
.pbemoji-181{background-position: 67.7903% 0;}
.pbemoji-182{background-position: 68.1648% 0;}
.pbemoji-183{background-position: 68.5393% 0;}
.pbemoji-184{background-position: 68.9139% 0;}
.pbemoji-185{background-position: 69.2884% 0;}
.pbemoji-186{background-position: 69.6629% 0;}
.pbemoji-187{background-position: 70.0375% 0;}
.pbemoji-188{background-position: 70.4120% 0;}
.pbemoji-189{background-position: 70.7865% 0;}
.pbemoji-190{background-position: 71.1610% 0;}
.pbemoji-191{background-position: 71.5356% 0;}
.pbemoji-192{background-position: 71.9101% 0;}
.pbemoji-193{background-position: 72.2846% 0;}
.pbemoji-194{background-position: 72.6592% 0;}
.pbemoji-195{background-position: 73.0337% 0;}
.pbemoji-196{background-position: 73.4082% 0;}
.pbemoji-197{background-position: 73.7828% 0;}
.pbemoji-198{background-position: 74.1573% 0;}
.pbemoji-199{background-position: 74.5318% 0;}
.pbemoji-200{background-position: 74.9064% 0;}
.pbemoji-201{background-position: 75.2809% 0;}
.pbemoji-202{background-position: 75.6554% 0;}
.pbemoji-203{background-position: 76.0300% 0;}
.pbemoji-204{background-position: 76.4045% 0;}
.pbemoji-205{background-position: 76.7790% 0;}
.pbemoji-206{background-position: 77.1536% 0;}
.pbemoji-207{background-position: 77.5281% 0;}
.pbemoji-208{background-position: 77.9026% 0;}
.pbemoji-209{background-position: 78.2772% 0;}
.pbemoji-210{background-position: 78.6517% 0;}
.pbemoji-211{background-position: 79.0262% 0;}
.pbemoji-212{background-position: 79.4007% 0;}
.pbemoji-213{background-position: 79.7753% 0;}
.pbemoji-214{background-position: 80.1498% 0;}
.pbemoji-215{background-position: 80.5243% 0;}
.pbemoji-216{background-position: 80.8989% 0;}
.pbemoji-217{background-position: 81.2734% 0;}
.pbemoji-218{background-position: 81.6479% 0;}
.pbemoji-219{background-position: 82.0225% 0;}
.pbemoji-220{background-position: 82.3970% 0;}
.pbemoji-221{background-position: 82.7715% 0;}
.pbemoji-222{background-position: 83.1461% 0;}
.pbemoji-223{background-position: 83.5206% 0;}
.pbemoji-224{background-position: 83.8951% 0;}
.pbemoji-225{background-position: 84.2697% 0;}
.pbemoji-226{background-position: 84.6442% 0;}
.pbemoji-227{background-position: 85.0187% 0;}
.pbemoji-228{background-position: 85.3933% 0;}
.pbemoji-229{background-position: 85.7678% 0;}
.pbemoji-230{background-position: 86.1423% 0;}
.pbemoji-231{background-position: 86.5169% 0;}
.pbemoji-232{background-position: 86.8914% 0;}
.pbemoji-233{background-position: 87.2659% 0;}
.pbemoji-234{background-position: 87.6404% 0;}
.pbemoji-235{background-position: 88.0150% 0;}
.pbemoji-236{background-position: 88.3895% 0;}
.pbemoji-237{background-position: 88.7640% 0;}
.pbemoji-238{background-position: 89.1386% 0;}
.pbemoji-239{background-position: 89.5131% 0;}
.pbemoji-240{background-position: 89.8876% 0;}
.pbemoji-241{background-position: 90.2622% 0;}
.pbemoji-242{background-position: 90.6367% 0;}
.pbemoji-243{background-position: 91.0112% 0;}
.pbemoji-244{background-position: 91.3858% 0;}
.pbemoji-245{background-position: 91.7603% 0;}
.pbemoji-246{background-position: 92.1348% 0;}
.pbemoji-247{background-position: 92.5094% 0;}
.pbemoji-248{background-position: 92.8839% 0;}
.pbemoji-249{background-position: 93.2584% 0;}
.pbemoji-250{background-position: 93.6330% 0;}
.pbemoji-251{background-position: 94.0075% 0;}
.pbemoji-252{background-position: 94.3820% 0;}
.pbemoji-253{background-position: 94.7566% 0;}
.pbemoji-254{background-position: 95.1311% 0;}
.pbemoji-255{background-position: 95.5056% 0;}
.pbemoji-256{background-position: 95.8801% 0;}
.pbemoji-257{background-position: 96.2547% 0;}
.pbemoji-258{background-position: 96.6292% 0;}
.pbemoji-259{background-position: 97.0037% 0;}
.pbemoji-260{background-position: 97.3783% 0;}
.pbemoji-261{background-position: 97.7528% 0;}
.pbemoji-262{background-position: 98.1273% 0;}
.pbemoji-263{background-position: 98.5019% 0;}
.pbemoji-264{background-position: 98.8764% 0;}
.pbemoji-265{background-position: 99.2509% 0;}
.pbemoji-266{background-position: 99.6255% 0;}
.pbemoji-267{background-position: 100.0000% 0;}